__pycache__/
*.py[cod]
*$py.class

# Django stuff:
logs/*
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
venv/

fighter/.env

frontend/node_modules
frontend/.env

fighter/contest/migrations