scrapy==2.4.1
requests==2.25.0
django==3.1
djangorestframework==3.11.0
pygments==2.7.3
django-cors-headers==3.6.0
python-decouple==3.3
psycopg2==2.8.6
drf-extensions==0.6.0
django-allauth==0.44.0
django-rest-authtoken==2.1.3
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
djangorestframework-jwt==1.11.0 
dj_database_url==0.2.2
whitenoise==5.2.0
channels==3.0.3
channels-redis==3.2.0
celery==5.0.5
django-celery-results==2.0.0
redis==3.5.3
django_celery_beat==2.2.0